
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trang lỗi</title>

</head>

<body>
    <div class="app">
        <div class="container-fluid">
            <div class="d-flex full-height p-v-20 flex-column justify-content-between">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="p-v-30">
                                <h1 class="font-weight-semibold display-1 text-primary lh-1-2">404</h1>
                                <h2 class="font-weight-light font-size-30">Rất tiếc! Hình như bạn bị lạc</h2>
                                <p class="lead m-b-30">Chúng tôi không thể tìm thấy những gì bạn đang tìm kiếm.</p>
                                <a asp-area="" asp-controller="Home" asp-action="TrangChuUser" class="btn btn-primary btn-tone">Trở lại</a>
                            </div>
                        </div>
                        <div class="col-md-6 m-l-auto">
                            <img class="img-fluid" src="assets/images/others/error-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

